body {
  background-position: cover;
  background: linear-gradient(to top, #ffc8a9 0%, #a981bb 49%, #3b41c5 100%);
  background-repeat: no-repeat;
  font-family: "PT Sans", sans-serif;
}

.weather-app {
  max-width: 800px;
  padding: 30px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  background: #f6ece7;
  border-radius: 10px;
}
