body {
  background-position: cover;
  background: #cbe8eb;
  background-repeat: no-repeat;
  font-family: "PT Sans", sans-serif;
}

.weather-app {
  max-width: 600px;
  padding: 30px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  background: #4b8d93;
  border-radius: 10px;
}
